In [1]:
import pandas as pd
import os

os.chdir('D:/git_repository/Rossmann-kaggle-Jiahong-Wang')


train = pd.read_csv('../input/Rossmann/train.csv')
test = pd.read_csv('../input/Rossmann/test.csv')
store = pd.read_csv('../input/Rossmann/store.csv')
sample_submission = pd.read_csv('../input/Rossmann/sample_submission.csv')

D:\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
pd.options.display.max_rows = 300

### Train

In [3]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
train.tail()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null object
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [6]:
print 'Days in the train date:' , len(train.index)/len(train.Store.unique())

Days in the train date: 912

In [7]:
print 912/365.0, 'years'

2.49863013699 years

In [8]:
print 'No. of unique stores in train data'
len(train.Store.unique())

No. of unique stores in train data

1115

### Test

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null object
Open             41077 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

In [10]:
test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [11]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

### Store

In [12]:
store.tail()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [19]:
store.StoreType.value_counts()

a    602
d    348
c    148
b     17
Name: StoreType, dtype: int64

In [13]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
Store                        1115 non-null int64
StoreType                    1115 non-null object
Assortment                   1115 non-null object
CompetitionDistance          1112 non-null float64
CompetitionOpenSinceMonth    761 non-null float64
CompetitionOpenSinceYear     761 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              571 non-null float64
Promo2SinceYear              571 non-null float64
PromoInterval                571 non-null object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [14]:
sample_submission

          Id  Sales
0          1      0
1          2      0
2          3      0
3          4      0
4          5      0
5          6      0
6          7      0
7          8      0
8          9      0
9         10      0
10        11      0
11        12      0
12        13      0
13        14      0
14        15      0
15        16      0
16        17      0
17        18      0
18        19      0
19        20      0
20        21      0
21        22      0
22        23      0
23        24      0
24        25      0
25        26      0
26        27      0
27        28      0
28        29      0
29        30      0
30        31      0
31        32      0
32        33      0
33        34      0
34        35      0
35        36      0
36        37      0
37        38      0
38        39      0
39        40      0
40        41      0
41        42      0
42        43      0
43        44      0
44        45      0
45        46      0
46        47      0
47        48      0
48        49      0
49        50      0
50        51      0
51        52      0
52        53      0
53        54      0
54        55      0
55        56      0
56        57      0
57        58      0
58        59      0
59        60      0
60        61      0
61        62      0
62        63      0
63        64      0
64        65      0
65        66      0
66        67      0
67        68      0
68        69      0
69        70      0
70        71      0
71        72      0
72        73      0
73        74      0
74        75      0
75        76      0
76        77      0
77        78      0
78        79      0
79        80      0
80        81      0
81        82      0
82        83      0
83        84      0
84        85      0
85        86      0
86        87      0
87        88      0
88        89      0
89        90      0
90        91      0
91        92      0
92        93      0
93        94      0
94        95      0
95        96      0
96        97      0
97        98      0
98        99      0
99       100      0
100      101      0
101      102      0
102      103      0
103      104      0
104      105      0
105      106      0
106      107      0
107      108      0
108      109      0
109      110      0
110      111      0
111      112      0
112      113      0
113      114      0
114      115      0
115      116      0
116      117      0
117      118      0
118      119      0
119      120      0
120      121      0
121      122      0
122      123      0
123      124      0
124      125      0
125      126      0
126      127      0
127      128      0
128      129      0
129      130      0
130      131      0
131      132      0
132      133      0
133      134      0
134      135      0
135      136      0
136      137      0
137      138      0
138      139      0
139      140      0
140      141      0
141      142      0
142      143      0
143      144      0
144      145      0
145      146      0
146      147      0
147      148      0
148      149      0
149      150      0
...      ...    ...
40938  40939      0
40939  40940      0
40940  40941      0
40941  40942      0
40942  40943      0
40943  40944      0
40944  40945      0
40945  40946      0
40946  40947      0
40947  40948      0
40948  40949      0
40949  40950      0
40950  40951      0
40951  40952      0
40952  40953      0
40953  40954      0
40954  40955      0
40955  40956      0
40956  40957      0
40957  40958      0
40958  40959      0
40959  40960      0
40960  40961      0
40961  40962      0
40962  40963      0
40963  40964      0
40964  40965      0
40965  40966      0
40966  40967      0
40967  40968      0
40968  40969      0
40969  40970      0
40970  40971      0
40971  40972      0
40972  40973      0
40973  40974      0
40974  40975      0
40975  40976      0
40976  40977      0
40977  40978      0
40978  40979      0
40979  40980      0
40980  40981      0
40981  40982      0
40982  40983      0
40983  40984      0
40984  40985      0
40985  40986      0
40986  40987      0
40987  40988      0
40988  40989      0
40989  40990      0
40990  40991      0
40991  40992      0
40992  40993      0
40993  40994      0
40994  40995      0
40995  40996      0
40996  40997      0
40997  40998      0
40998  40999      0
40999  41000      0
41000  41001      0
41001  41002      0
41002  41003      0
41003  41004      0
41004  41005      0
41005  41006      0
41006  41007      0
41007  41008      0
41008  41009      0
41009  41010      0
41010  41011      0
41011  41012      0
41012  41013      0
41013  41014      0
41014  41015      0
41015  41016      0
41016  41017      0
41017  41018      0
41018  41019      0
41019  41020      0
41020  41021      0
41021  41022      0
41022  41023      0
41023  41024      0
41024  41025      0
41025  41026      0
41026  41027      0
41027  41028      0
41028  41029      0
41029  41030      0
41030  41031      0
41031  41032      0
41032  41033      0
41033  41034      0
41034  41035      0
41035  41036      0
41036  41037      0
41037  41038      0
41038  41039      0
41039  41040      0
41040  41041      0
41041  41042      0
41042  41043      0
41043  41044      0
41044  41045      0
41045  41046      0
41046  41047      0
41047  41048      0
41048  41049      0
41049  41050      0
41050  41051      0
41051  41052      0
41052  41053      0
41053  41054      0
41054  41055      0
41055  41056      0
41056  41057      0
41057  41058      0
41058  41059      0
41059  41060      0
41060  41061      0
41061  41062      0
41062  41063      0
41063  41064      0
41064  41065      0
41065  41066      0
41066  41067      0
41067  41068      0
41068  41069      0
41069  41070      0
41070  41071      0
41071  41072      0
41072  41073      0
41073  41074      0
41074  41075      0
41075  41076      0
41076  41077      0
41077  41078      0
41078  41079      0
41079  41080      0
41080  41081      0
41081  41082      0
41082  41083      0
41083  41084      0
41084  41085      0
41085  41086      0
41086  41087      0
41087  41088      0

[41088 rows x 2 columns]